<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Lista de produtos</title>
</head>
<body>
<h1 style="text-align: center">Cadastro de produtos</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
        </div>
    </div>
    <form method="post">
        <div class="row">
            <% if (produto) { %>
            <%- include('produto-form-update',{produto:produto}); %>
                <%} else { %>
                    <%- include('produto-form-create',{}); %>
                <% } %>
            <div class="col-6">
                <div class="form-group">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" id="inputNome" name="nome"
                           placeholder="Digite o produto" value="<%= produto.nome%>" required>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="inputValor">valproduto</label>
                    <input type="number" class="form-control" name="vlUnit"
                           id="inputValor" placeholder="R$" value="<%= <%= produto.vlUnit%>" required>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="inputCodigo">codigo</label>
                    <input type="number" class="form-control" name="codigoBarras"
                           value="<%= produto.codigoBarras%>" id="inputCodigo"
                           placeholder="00,000000" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>

</div>
</div>
</div>
<h1 style="text-align: center">Produtos</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table  table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor Unitario</th>
                    <th scope="col">Codigo.p</th>
                    <th scope="col">Ações</th>

                </tr>
                </thead>
                <tbody>
                <% produtos.forEach(function (produto) { %>
                <thead>
                <tr>
                    <td><%= produto.nome %></td>
                    <td><%= produto.vlUnit %></td>
                    <td><%= produto.codigoBarras %></td>
                    <td>
                        <a href="./produtos/<%= produto._id%>" > Editar</a>
                        <a href="./produtos/ <%= produto._id%>" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
                </thead>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>